<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://kit.fontawesome.com/477b733705.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="https://visualpharm.com/assets/985/Name-595b40b85ba036ed117da682.svg">
    <title>Portfolio</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <h1 class="brand">Portfolio</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}#" onclick="closeNavbar()">Home</a>
                <a class="nav-link" href="{% url 'home' %}#about" onclick="closeNavbar()">About</a>
                <a class="nav-link" href="{% url 'home'%}#skills" onclick="closeNavbar()">Skills</a>
                <a class="nav-link" href="{% url 'home'%}#projects" onclick="closeNavbar()">Projects</a>
                <a class="nav-link" href="{% url 'home'%}#contact" onclick="closeNavbar()">Contact</a>
            </div>
        </div>
    </div>
</nav>
<body>
{% block 'home' %}
{% endblock %}
{% block 'about' %}
{% endblock %}
{% block 'skills' %}
{% endblock %}
{% block 'projects' %}
{% endblock %}
{% block 'contact' %}
{% endblock %}
</body>
<!-- Footer Section -->
<footer class="footer">
    <ul class="social-icon">
      <!-- <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li> -->
      <li class="social-icon__item"><a class="social-icon__link" href="https://github.com/Kishore-1011">
          <ion-icon name="logo-github"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/in/kishore-s-279b27250">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/the._.lovie">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="{%url 'home'%}#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="{%url 'home'%}#about">About</a></li>
      <li class="menu__item"><a class="menu__link" href="{%url 'home'%}#skills">Skills</a></li>
      <li class="menu__item"><a class="menu__link" href="{%url 'home'%}#projects">Projects</a></li>
      <li class="menu__item"><a class="menu__link" href="{%url 'home'%}#contact">Contact</a></li>

    </ul>
    <p>&copy;2024 | All Rights Reserved</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- JavaScript Section -->
<script>

    function closeNavbar() {
        // Add a delay of 500 milliseconds (adjust as needed)
        setTimeout(function() {
            var navbarToggler = document.querySelector('.navbar-toggler');
            if (navbarToggler) {
                navbarToggler.click();
            }
        }, 600);
    }

    function typeText(element, text, speed, callback) {
        let index = 0;

        function type() {
            if (index < text.length) {
                element.innerHTML += text.charAt(index);
                index++;
                setTimeout(type, speed);
            } else {
                if (typeof callback === 'function') {
                    setTimeout(callback, 1000);
                }
            }
        }

        type();
    }

    function eraseText(element, speed, callback) {
        let text = element.innerHTML;
        let index = text.length - 1;

        function erase() {
            if (index >= 0) {
                element.innerHTML = text.slice(0, index);
                index--;
                setTimeout(erase, speed);
            } else {
                if (typeof callback === 'function') {
                    callback();
                }
            }
        }

        erase();
    }

    const typingContainer = document.getElementById('typing-container');

    const words = ['Student', 'Professional Coder', 'Software Developer'];
    const eraseDelay = 1; // Adjust the delay before erasing starts

    function displayWords() {
        let currentWordIndex = 0;

        function displayNextWord() {
            const currentWord = words[currentWordIndex];

            typeText(typingContainer, currentWord, 100, function () {
                setTimeout(function () {
                    eraseText(typingContainer, 50, function () {
                        currentWordIndex = (currentWordIndex + 1) % words.length;
                        displayNextWord();
                    });
                }, eraseDelay);
            });
        }

        displayNextWord();
    }

    window.onload = displayWords;
</script>
</html>