{% extends 'port/base.html' %}
{% load static %}
{% block 'home' %}
<div id="home" class="container mt-5">
    <div class="row">
        <div class="col-lg-6 order-lg-2 image-container d-none d-lg-block">
            <img src="{% static 'home.png' %}" alt="Home Image">
        </div>
        <div class="col-lg-6 order-lg-1 content-section">
            <div class="content">
                <div class="inner">
                    <span class="subtitle">Welcome to my world</span>
                    <div class="title">Hi, <span>I’m <span class="title-h">Kishore</span></span></div>
                    <h1>I am a<span style="font-size: 3.7rem"> </span><span id="typing-container"></span></h1>
                </div>
                <br>
                <div>
                    <i class="description">"Crafting Code, Shaping Digital Worlds."</i>
                </div>
                <div class="media">
                    <ul class="social-icons">
                        <li><a class="linkedin" href="https://www.linkedin.com/in/kishore-s-279b27250" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a class="github" href="https://github.com/Kishore-1011" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li><a class="instagram" href="https://www.instagram.com/the._.lovie" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr class="my-4">
</div>
{% endblock%}